.header {
  padding: 10px 0;
  background: #ffffff;
  color: #fff;
  position: fixed;
  width: 100%;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #17baef;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #0000;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  background: #074f66;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
}
.header .main-nav .nav .nav-item.active a {
  color: #17baef;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #000000;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 18px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color: #074f66;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
